@(local-require "static-link.rkt")
<div class="row">
  <div class="col col-12">
      <h2 class="section-hdr">
          <img src='@(static-link "icons/mi_people.svg" is-mirror?)' class="hdr-icon">
          @when[(equal? lang "en")]{
              @list{Fast and easy}
          }
          @when[(equal? lang "zht")]{
              @list{快速便捷}
          }
          @when[(equal? lang "zhs")]{
              @list{快速便捷}
          }
      </h2>
      <hr>
  </div>
</div>
<div class="row">
  <div class="col col-12 col-sm-8">
    <ul>
      @when[(equal? lang "en")]{ 
        @list{
      <li>
        <b>Cross-platform</b>. No matter whether you use Windows, Mac, Linux, or
        Android, access the same reliable Geph network seamlessly.
      </li>
      <li>
        <b>Low cost</b>. All Geph accounts will always get
        <b class="text-success">800 Kbps of free bandwidth</b>, with no strings
        attached. Unlimited-speed plans start from the incredible price of
        <b class="text-success">$3.98/month</b>.
      </li>
      <li>
        <b>Incredible speed</b>. Geph has excellent performance even in
        countries with poor international connections, using servers distributed
        around the world in combination with highly optimized custom protocols.
        Internet freedom does not need to be slow!
      </li>
      }
    } 
    @when[(equal? lang "zht")]{ 
      @list{
      <li>
        <b>跨平台</b
        >：不管你使用Windows，Mac，還是Android，都可以同樣方便地使用迷霧通。
      </li>
      <li>
        <b>價格低</b
        >：我們認爲，使用自由的互聯網是任何人都應有的權利。所以，迷霧通用戶有<b
          class="text-success"
          >800Kbps的永久免費流量</b
        >。無限速度的付費帳戶也低至<b class="text-success">$3.98/月</b>。
      </li>
      <li>
        <b>飛快的速度</b
        >：通過高度優化的服務器地點與數據傳輸方式，迷霧通即便在國際連接差，傳統翻牆軟件卡、慢的網絡環境，仍然可以提供出色的網速。自由的網絡不一定是慢速的網絡！
      </li>
      } 
    } 
    @when[(equal? lang "zhs")]{ 
      @list{
      <li>
        <b>跨平台</b
        >：不管你使用Windows，Mac，还是Android，都可以同样方便地使用迷雾通。
      </li>
      <li>
        <b>价格低</b
        >：我们认为，使用自由的互联网是任何人都应有的权利。所以，迷雾通用户有<b
          class="text-success"
          >800Kbps的永久免費流量</b
        >。无限速度的付费帐户也低至<b class="text-success">$3.98/月</b>。
      </li>
      <li>
        <b>飞快的速度</b
        >：通过高度优化的服务器地点与数据传输方式，迷雾通即便在国际连接差，传统翻墙软件卡、慢的网络环境，仍然可以提供出色的网速。自由的网络不一定是慢速的网络！
      </li>
      } 
    }
    </ul>
  </div>
  <div class="col col-12 col-sm-4">
    <img
      src='@(static-link "crossplatform.jpg" is-mirror?)'
      class="img-fluid"
    />
  </div>
</div>
