@(local-require "static-link.rkt")
<div class="row">
    <div class="col col-12">
        <h2 class="section-hdr">
            <img src='@(static-link "icons/mi_security.svg" is-mirror?)' class="hdr-icon">
            @when[(equal? lang "en")]{
                @list{Secure and reliable}
            }
            @when[(equal? lang "zht")]{
                @list{安全可靠}
            }
            @when[(equal? lang "zhs")]{
                @list{安全可靠}
            }
        </h2>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col col-12 col-sm-8">
        <ul>
            @when[(equal? lang "en")]{
                @list{
                    <li><b>Encrypted</b>. All traffic is encrypted between the user and our secure exit nodes. Your connection is protected even if your network is untrustworthy. </li>
                    <li><b>Resilient</b>. Geph applies multiple state-of-the-art measures, such as domain fronting and protocol obfuscation, to stay unblocked even in the face of advanced censorship systems. When VPNs fail to work, trust Geph to connect reliably.</li>
                    <li><b>Private</b>. We are an Estonian company operating under strict European Union privacy laws, and our exit servers, all located in locations with strong protection for data privacy, abide by a stringent no-logging policy. In addition, our two-tier traffic forwarding system makes it very difficult for anyone, including us, to track what pages you are visiting. </li>
                }
            }

            @when[(equal? lang "zht")]{
                @list{
                    <li><b>高度加密</b>：迷霧通用戶所有的翻牆流量都被加密傳送至安全的出口節點。即便在不安全的網絡上（比如公衆WiFi），也可以放心地使用迷霧通。</li>
                    <li><b>難以封鎖</b>：迷霧通彙集了最前沿的抗網絡審查技術，可以對抗嚴厲而有針對性的封鎖。主要靠「不被發現」的傳統翻牆軟件不斷與審查者玩被封、更新、再被封的貓鼠遊戲，但迷霧通不需要麻煩的更新也風雨無阻。當各種翻牆軟件失靈的時候，試試迷霧通吧！</li>
                    <li><b>保護隱私</b>：我們的公司註冊在愛沙尼亞，受嚴格的歐盟隱私規定約束，絕不會侵犯或向外透露您的個人信息。迷霧通的出口節點也都在對網絡自由和隱私保護最強的地區，並且服務器上不會存儲您的任何瀏覽記錄。迷霧通獨特的雙重流量轉發系統也讓其他人即便侵入我們的服務器，也極難將您訪問的網頁聯繫到您的真實身份。</li>
                }
            }

            @when[(equal? lang "zhs")]{
                @list{
                    <li><b>高度加密</b>：迷雾通用户所有的翻墙流量都被加密传送至安全的出口节点。即便在不安全的网络上（比如公众WiFi），也可以放心地使用迷雾通。 </li>
                    <li><b>难以封锁</b>：迷雾通汇集了最前沿的抗网络审查技术，可以对抗严厉而有针对性的封锁。主要靠「不被发现」的传统翻墙软件不断与审查者玩被封、更新、再被封的猫鼠游戏，但迷雾通不需要麻烦的更新也风雨无阻。当各种翻墙软件失灵的时候，试试迷雾通吧！ </li>
                    <li><b>保护隐私</b>：我们的公司注册在爱沙尼亚，受严格的欧盟隐私规定约束，绝不会侵犯或向外透露您的个人信息。迷雾通的出口节点也都在对网络自由和隐私保护最强的地区，并且服务器上不会存储您的任何浏览记录。迷雾通独特的双重流量转发系统也让其他人即便侵入我们的服务器，也极难将您访问的网页联系到您的真实身份。 </li>
                }
            }
        </ul>
    </div>
    <div class="col col-12 col-sm-4">
        <img src='@(static-link "hax0r.png" is-mirror?)' class="img-fluid">
    </div>
</div>
